
<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand'; style="font-family: Sacramento; font-style: cursive; font-size: 24px"; href='/'>
                <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
                Lanilulu's Bracelets
            </a>
        </div>
        <div class='pull-right'>
            <a href='/cart' class='btn btn-default navbar-btn'>Cart</a>
        </div>
    </div>
</nav>

<nav class="navbar fixed-top navbar-dark bg-danger">
    <div class="text-center">
        <a class="navbar-brand" href="/new">New</a>
        <a class="navbar-brand" href="/collections">Collections</a>
        <a class="navbar-brand" href="/casual">Casual</a>
        <a class="navbar-brand" href="/sale">SALE!</a>
    </div>
</nav>



