<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
    <legend>Casual</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Casual</label><br>
        <input type='text' name='title' />
    </p>
    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='description' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Add to Cart</button>
    </p>
</form>
{% endblock %}
